.Profile-container{
    margin: 20px 140px ;
    padding: 23px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid gray;
}
.profile{
    display:flex;
    justify-content: center;
    margin: 0px;
        
}
.pruser{
    flex: 10%;
    margin: 50px 120px;
    padding: 10px;
    border: 3px solid rgb(137, 136, 136);
    display: flex;
    align-items: start;
    justify-content: center;
    border-radius: 50%;
    color: rgb(87, 85, 85);
    font-size: 20px;
    background: #c8c6c6;
}
.prdetails{
    flex:90%;
    display: flex;
    flex-direction: column;
    margin: 50px 30px;
}
.prdetails span{
    margin-bottom: 20px;
}

 .about-user{
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto;
  padding: 4px;
  
  
} 
.grid-item {
    background-color: rgba(231, 235, 238, 0.8);
    padding: 15px;
    font-size: 15px;
    height:210px;
    margin-left: 25px;
    margin-right: 15px;
    border-radius: 20px;
  }
.userbut{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
 }
 .add-con {
    font-size: 17px;
    font-weight: 800;
    color: rgb(75, 82, 82);
    margin-left: 20px;
 }
 .butt-pro{
    width: 40%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    color: black;
    border: 2px solid gray;
    cursor: pointer;
 }
 .butt-pro:hover{
    color: white;
    background: #000;
    transition: all 1s ease-in;
 }
 .edit-add{
    cursor: pointer;
    margin-left: 20px;
    font-size: 25px;
    color: gray;
 }
 
  