.listContainer{
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    height: 40%;
    width: 25%;
    padding: 15px;
   border: 2px solid lightgray;
}
.card-list:hover{
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(81, 79, 79, 0.2), 0 6px 20px 0;
    transition: all 1s ease-in-out;
    border: 2px solid rgb(25, 7, 7);
}
.Imagelist{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Imagelist img{
    height: 300px;
}
.IconList{
    margin-top: -250px;
    margin-left: 7px;
    font-size: 30px;
    color:gray;
    cursor: pointer;
}
.Detailslist{
    margin-top: 15px;
}
.Detailslist span,p{
    font-size: 15px;
    color: rgb(105, 104, 104);
    font-weight: 500;
}
.Detailslist h2{
    font-size: 20px;
    color: rgb(37, 37, 37);
}

.listbutton{
    border: 1px solid gray;
    padding: 10px;
    background-color: white;
    width:40%;
    cursor: pointer;
    color: rgb(9, 9, 9);
    font-weight: 600;
    
}
.listbutton:hover {
    color: white;
    background: #000;
    transition: all 1s ease-in-out;
}